version: 2
updates:
- package-ecosystem: "npm"
  directory: "/"
  schedule:
    interval: daily
  versioning-strategy: increase-if-necessary
  open-pull-requests-limit: 10
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
      interval: daily
  open-pull-requests-limit: 10
