version: 2
updates:
- package-ecosystem: "npm"
  directory: "/"
  schedule:
    interval: weekly
  versioning-strategy: auto
  open-pull-requests-limit: 10
  groups:
    prod-deps:
      dependency-type: "production"
      update-types:
        - "minor"
        - "patch"
      exclude-patterns:
        - "sigstore"
        - "@sigstore/*"
    dev-deps:
      dependency-type: "development"
      update-types:
        - "minor"
        - "patch"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
      interval: weekly
  open-pull-requests-limit: 10
  groups:
    minor-patch:
      update-types:
        - "minor"
        - "patch"
