name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

permissions:
  contents: read

jobs:
  lint-source:
    name: Lint/build code
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup node
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: 22
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Run linter
      run: npm run lint:check
    - name: Run formatter
      run: npm run prettier:check
    - name: Run build
      run: npm run build

  run-tests:
    name: Run tests
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20.17.0
          - 20.x
          - 22.9.0
          - 22.x
        platform:
          - os: ubuntu-latest
            shell: bash
            jest-cache: /tmp/jest
          - os: macos-latest
            shell: bash
            jest-cache: /tmp/jest
          - os: windows-latest
            shell: cmd
            jest-cache: C:\\Users\\runneradmin\\AppData\\Local\\Temp\\jest
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    steps:
    - name: Checkout source
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup node
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm
    - name: Manage Jest cache
      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
      with:
        path: ${{ matrix.platform.jest-cache }}
        key: ${{ hashFiles('**/package-lock.json') }}
    - name: Update npm
      run: npm install -g npm@8
    - name: Install dependencies
      run: npm ci
    - name: Run tests
      run: npm run test:ci -- --cacheDirectory ${{ matrix.platform.jest-cache }}
