name: CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

permissions:
  contents: read

jobs:
  lint-source:
    name: Lint/build code
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
    - name: Setup node
      uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
      with:
        node-version: 22
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Run linter
      run: npm run lint:check
    - name: Run formatter
      run: npm run prettier:check
    - name: Run build
      run: npm run build

  run-tests:
    name: Run tests
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18.17.0
          - 18.x
          - 20.5.0
          - 20.x
        platform:
          - os: ubuntu-latest
            shell: bash
            jest-cache: /tmp/jest
          - os: macos-latest
            shell: bash
            jest-cache: /tmp/jest
          - os: windows-latest
            shell: cmd
            jest-cache: C:\\Users\\runneradmin\\AppData\\Local\\Temp\\jest
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.shell }}
    steps:
    - name: Checkout source
      uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
    - name: Setup node
      uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm
    - name: Manage Jest cache
      uses: actions/cache@2cdf405574d6ef1f33a1d12acccd3ae82f47b3f2 # v4.1.0
      with:
        path: ${{ matrix.platform.jest-cache }}
        key: ${{ hashFiles('**/package-lock.json') }}
    - name: Update npm
      run: npm install -g npm@8
    - name: Install dependencies
      run: npm ci
    - name: Run tests
      run: npm run test:ci -- --cacheDirectory ${{ matrix.platform.jest-cache }}
