name: Backward compatibility

on:
  workflow_dispatch:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

permissions:
  contents: read

jobs:
  verify:
    name: Verify bundles
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Checkout source
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v3
    - name: Setup node
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v3
      with:
        node-version: 18
        cache: npm
    - name: Install CLI
      run: npm install -g @sigstore/cli
    - name: Verify bundles
      run: |
        for FILE in ./tests/bundles/*.sigstore; do
          echo "Verifying ${FILE}"
          sigstore verify $FILE
        done

