name: "Conformance tests"

on:
  workflow_dispatch:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  schedule:
    - cron: "45 7 * * 1"

permissions:
  contents: read

jobs:
  conformance-production:
    name: Conformance Test (Production)
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 22
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Build sigstore-js
      run: npm run build
    - uses: sigstore/sigstore-conformance@eae6eb1f59e25c6d3d602c5dad3dc55767c2f1cb # v0.0.25
      with:
        entrypoint: ${{ github.workspace }}/packages/conformance/bin/run
        xfail: "test_verify*managed-key-happy-path] test_verify*managed-key-and-trusted-root]"

  conformance-staging:
    name: Conformance Test (Staging)
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 22
        cache: npm
    - name: Install dependencies
      run: npm ci
    - name: Build sigstore-js
      run: npm run build
    - uses: sigstore/sigstore-conformance@eae6eb1f59e25c6d3d602c5dad3dc55767c2f1cb # v0.0.25
      with:
        entrypoint: ${{ github.workspace }}/packages/conformance/bin/run
        environment: staging
        xfail: "test_verify*managed-key-happy-path] test_verify*managed-key-and-trusted-root]"
