name: publish

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    name: Publish package
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3
    - name: Setup node
      uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 # v3
      with:
        node-version: 16
        registry-url: 'https://registry.npmjs.org'
        cache: npm
    - name: Install dependencies and build
      run: npm ci && npm run build
    - name: Publish package
      run: npm exec npm@npm/cli#provenance -- publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
